:root {
  --cor-principal: #322653;
  --cor-secundaria: #8062d6;
  --cor-terciaria: #ffd2d7;
  --cor-do-texto: rgb(71, 71, 71);
}
body {
  color: var(--cor-do-texto);
  font-family: sans-serif;
  background-color: rgba(0,0,0,0.1);
}
.container {
  max-width: 1140px;
  margin: 0 auto; 
}
.text-center{
  text-align: center;
}
.logo{
  width: 250px;
  height: auto;
}
.destaque {
  color: var(--cor-principal);
}
.destaque-claro {
  color: var(--cor-secundaria);
}
.menu {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}
ul.menu li a {
  color: var(--cor-terciaria);
  text-decoration: none;
  background-color: var(--cor-principal);
  border: 2px solid var(--cor-secundaria);
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 500ms ease-in-out;
}
ul.menu li a:hover {
  color: white;
  background-color: var(--cor-secundaria);
}
